@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Code+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #000;
}

canvas {
  display: block;
}

.container {
  display: inline-block;
  height: 480px;
  position: relative;
}

p {
  position: absolute;
  color: #03a032;
  font-size: 500%;
  text-shadow: 5px 5px 5px black;
  left: 35%;
  top: 30%;
  font-family: "Source Code Pro", monospace;
}

.container2 {
  position: absolute;
}

.img {
  position: relative;
  bottom: -357px;
  left: 50%;
  margin-left: 300px;
  z-index: 1;
}

#redpill {
  position: absolute;
  bottom: -135px;
  left: 50%;
  margin-left: 375px;
  z-index: 2;
}

#bluepill {
  position: absolute;
  bottom: -136px;
  left: 50%;
  margin-left: 680px;
  z-index: 2;
}

.thumbnail {
  -webkit-transition: width 1s, height 1s;
  transition: transform 0.5s ease;
}

.thumbnail:hover {
  transform: scale(1.5);
}
